<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Учебные курсы</title>
     <link rel="stylesheet" type="text/css" href="/static/css/s2.css">
</head>
<body>
    <header>
        <h1>Учебные курсы</h1>
    </header>
    <div class="container">
        <div class="sidebar">
            <h2>Оглавление</h2>
            <h3>5 класс</h3>
            <ul>
                <li><a href="#math">Математика</a></li>
                <li><a href="#science">Наука</a></li>
            </ul>
            <h3>6 класс</h3>
            <ul>
                <li><a href="#history">История</a></li>
                <li><a href="#geography">География</a></li>
                <li><a href="#literature">Литература</a></li>
            </ul>
            <h3>7 класс</h3>
            <ul>
                <li><a href="#foreign">Иностранный язык</a></li>
                <li><a href="#physics">Физика</a></li>
                <li><a href="#art">Искусство</a></li>
            </ul>
        </div>
        <div class="content">
            <section id="math" class="subject-block">
                <h2><a href="/courses/example1">Математика для 5 класса</a></h2>
                <p><strong>Преподаватель:</strong> Иванов И.И.</p>
                <p><strong>Аннотация:</strong> Курс охватывает основные темы математики, включая арифметику, геометрию и статистику. Ученики научатся решать задачи и применять математические концепции в повседневной жизни.</p>
            </section>
            <section id="science" class="subject-block">
                <h2><a href="/courses/example2">Наука для 5 класса</a></h2>
                <p><strong>Преподаватель:</strong> Петров С.С.</p>
                <p><strong>Аннотация:</strong> Этот курс познакомит учащихся с основами естественных наук, таких как биология, химия и физика, с акцентом на эксперименты и практические занятия.</p>
            </section>
            <section id="history" class="subject-block">
                <h2>История для 6 класса</h2>
                <p><strong>Преподаватель:</strong> Петрова А.А.</p>
                <p><strong>Аннотация:</strong> Курс исследует ключевые моменты мировой истории, начиная с древних цивилизаций и заканчивая современными событиями. Учащиеся смогут понять, как исторические события влияют на нашу жизнь сегодня.</p>
            </section>
            <section id="geography" class="subject-block">
                <h2>География для 6 класса</h2>

                <p><strong>Преподаватель:</strong> Сидорова М.М.</p>
                <p><strong>Аннотация:</strong> Курс включает изучение географических объектов, климатических зон и природных ресурсов, а также их влияние на жизнь людей.</p>
            </section>
            <section id="literature" class="subject-block">
                <h2>Литература для 6 класса</h2>
                <p><strong>Преподаватель:</strong> Кузнецова Л.Л.</p>
                <p><strong>Аннотация:</strong> Курс включает изучение классической и современной литературы, развитие навыков анализа текстов и понимания литературных произведений.</p>
            </section>
            <section id="foreign" class="subject-block">
                <h2>Иностранный язык для 7 класса</h2>
                <p><strong>Преподаватель:</strong> Смирнова О.О.</p>
                <p><strong>Аннотация:</strong> Курс предназначен для изучения грамматики, лексики и разговорной речи на иностранном языке. Учащиеся будут развивать навыки общения и понимания языка.</p>
            </section>
            <section id="physics" class="subject-block">
                <h2>Физика для 7 класса</h2>
                <p><strong>Преподаватель:</strong> Воробьев А.А.</p>
                <p><strong>Аннотация:</strong> Курс охватывает основные законы физики, опытные работы и применения физики в жизни. Учащиеся научатся понимать физические процессы окружающего мира.</p>
            </section>
            <section id="art" class="subject-block">
                <h2>Искусство для 7 класса</h2>
                <p><strong>Преподаватель:</strong> Сергеева П.П.</p>
                <p><strong>Аннотация:</strong> Курс посвящен изучению различных видов искусства, включая живопись, музыку и театр. Учащиеся смогут развить свое творческое восприятие и критическое мышление.</p>
            </section>
        </div>
    </div>
    <button class="exit-button" onclick="window.location.href='/'">На главную страницу</button>
</body>
</html>
