<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать новость</title>
        <link rel="stylesheet" type="text/css" href="/static/css/s1.css">
</head>
<body>
    <h1>Редактировать новость</h1>
    <form method="POST">
        <label for="date">Дата:</label>
        <input type="text" id="date" name="date" value="{{ news['date'] }}" required>
        <br>
                <label for="content">Содержание:</label>
        <textarea id="content" name="content" required>{{ news['content'] }}</textarea>
        <br>
        <label for="image">Изображение (URL):</label>
        <input type="text" id="image" name="image" value="{{ news['image'] }}">
        <br>
        <label for="name">Наименование:</label>
        <textarea id="name" name="name" required>{{ news['name'] }}</textarea>
        <br>
        <button type="submit">Сохранить изменения</button>
    </form>
    <a href="{{ url_for('home') }}">Назад</a>
</body>
</html>
