<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Эмоциональный трекер</title>
     <link rel="stylesheet" type="text/css" href="/static/css/s1.css">

</head>
<body>
    <header>
        <h1>Эмоциональный трекер</h1>
    </header>

    <div class="navigation">
        <a href="index" class="nav-link">Главная</a>
        <a href="user_table" class="nav-link">Личный кабинет</a>
        <a href="diary" class="nav-link">Дневник</a>
        <a href="courses" class="nav-link">Курсы</a>
    </div>

    <div class="chatbox">
        <div class="message assistant-message">Здравствуйте! Как вы себя сегодня чувствуете?</div>

        <div class="message user-message">Я чувствую себя хорошо!</div>
        <div class="message assistant-message">Отлично! Что именно делает вас счастливым?</div>

        <div class="input-area">
            <input type="text" class="input-field" placeholder="Ваше сообщение..." />
            <button class="send-button">Отправить</button>
        </div>
    </div>

</body>
</html>
