<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
     <link rel="stylesheet" type="text/css" href="/static/css/s1.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на главную страницу!</h1>

    {% if session.user_id %}
        <p>Здравствуйте, {{ session.user_fullname }}!</p>
        <a href="{{ url_for('logout') }}">Выход</a>  <!-- Кнопка выхода -->
    {% else %}
        <a href="{{ url_for('login') }}">Вход в систему</a>  <!-- Ссылка на вход -->
    {% endif %}
    </header>

    <div class="navigation">
        <a href="user_table" class="nav-link">Личный кабинет</a>
        <a href="diary" class="nav-link">Дневник</a>
        <a href="courses" class="nav-link">Курсы</a>
        <a href="emotional_tracker" class="nav-link">Эмоциональный трекер</a>
    </div>
    <div class="news-section">
        <h2>Новости</h2>
        <div class="news-block">
            <div class="news-date">01.10.2023</div>

            <div class="news-content">Запущен новый курс по программированию.</div>
            <div class="news-images">
                <img src="/static/img/photo1.jpg" alt="Фото 1" class="news-image">
                <img src="/static/img/photo2.jpg" alt="Фото 2" class="news-image">
                <img src="/static/img/photo3.jpg" alt="Фото 3" class="news-image">
            </div>
        </div>
        <div class="news-block">
            <div class="news-date">05.10.2023</div>
            <div class="news-content">Внесены изменения в расписание занятий.</div>
            <div class="news-images">
                <img src="/static/img/photo4.jpg" alt="Фото 4" class="news-image">
                <img src="/static/img/photo5.jpg" alt="Фото 5" class="news-image">
            </div>
        </div>
        <div class="news-block">
            <div class="news-date">10.10.2023</div>
            <div class="news-content">Запланировано первое онлайн-мероприятие.</div>
            <div class="news-images">
                <img src="/static/img/photo6.jpg" alt="Фото 6" class="news-image">
            </div>
        </div>
    </div>
    <button class="add-news-button">Добавить новость</button>
</body>
</html>
