<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица пользователя</title>
 <link rel="stylesheet" type="text/css" href="/static/css/s1.css">
</head>

<body>
    <header>
        <h1>Таблица пользователя</h1>
        <div class="auth-buttons">
            <form action="/logout" method="POST">
                <button type="submit" class="auth-button">Выход</button>
            </form>
        </div>
    </header>
    <div class="navigation">
        <a href="/index" class="nav-link">Главная</a>
        <a href="/diary" class="nav-link">Дневник</a>
        <a href="/courses" class="nav-link">Курсы</a>
        <a href="/emotionaltracker" class="nav-link">Эмоциональный трекер</a>
    </div>
    <div class="profile">
        <img src="avatar.png" alt="Аватар" class="avatar"> <!-- Увеличенная аватарка -->
        <div class="profile-details">
            <h2>{{ user_fullname }}</h2> <!-- Изменено на user_fullname -->
            <p>Email: {{ user_email }}</p> <!-- Изменено на user_email -->
        </div>
    </div>
</body>

</html>
